.col-12 {
   width: 100%;
   margin-left:20px;
   text-align:center;
 
}

.col-4 {
   width: 30%;
   
   border:solid 1px #000000;
   margin :10px;
   float:left;
   text-align:center;
   padding:8px;
}

.brand {

   
   text-align:left;
   background-color:#666666;
   padding:10px;
   border:#000000 solid 2px;
   color:#FFFFFF;
 
}


 